@import "bootstrap.min.css";
html,
body {
  background: #222;
}
.container {
  background-color: #FFF;
  border-top: 15px solid #FDB020;
  border-bottom: 15px solid #FDB020;
  margin-top: 40px;
}
.container #header {
  width: 100%;
  min-height: 280px;
  border-bottom: 1px solid #CCC;
  padding: 40px;
}
.container #header .media .pull-left {
  background-color: #FFF;
  border: 1px solid #AAA;
  width: 199px;
  height: 199px;
}
.container #header .media .pull-left img {
  border: 1px solid #AAA;
  margin: 10px;
  width: 175px;
}
.container #header .spacer {
  height: 50px;
}
.container #content {
  padding: 40px;
  padding-top: 0px;
}
.container #content .row {
  border-bottom: 1px solid #CCC;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container #content .row .col-lg-2 h4 {
  margin-top: 0px;
}
.container #content .row .col-lg-10 .row {
  padding: 0;
  padding-left: 10px;
  border: 0;
}
.container #content .row .col-lg-10 .row .col-lg-1 {
  padding: 0;
  width: auto;
}
.container #content .row .col-lg-10 .row .col-lg-1 span {
  margin: 5px;
  background-color: #FDB020;
  color: #FFF;
  text-align: center;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.container #content .row .col-lg-10 .row .col-lg-6 {
  padding: 0;
}
.container #content .row .col-lg-10 .row .col-lg-6 span {
  margin: 5px;
  background-color: #FDB020;
  color: #FFF;
  text-align: center;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.container #content .row:last-child {
  border: 0;
}
#footer {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
}
#footer p {
  text-align: center;
  color: #CCC;
}
