/*
* @Author: Kasper Sebb' brandt
* @Date:   2018-10-23 19:53:21
* @Last Modified by:   Kasper Sebb' brandt
* @Last Modified time: 2018-10-24 22:27:22
*/
body, html {
  background-color: #ddd;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  margin: auto;
  padding: 40px;
  width: 1024px;
  background-color: #fff;
  box-sizing: border-box;
}