.title-section { text-align: center; }
.title-section img {
  border-radius: 100%;
  border: 5px solid #517b48;
  box-shadow: 0px 0 10px rgba(0,0,0, 0.2);
  max-width: 100%;
}

.v-section {
  padding: 40px;
}

.contact-section {
  text-align: center;
}

.bggrey {
  background-color: #eee;
  position: relative;
}

.info-block {
  border: 2px solid #82a45c;
  background-color: #ff63470a;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  box-sizing: border-box;
  height: calc(100% - 20px);
  flex-wrap: wrap;
  min-height: 90px;
  box-shadow: 0 0 15px rgba(0,0,0, 0.1);
}

.experience-section .info-block::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: -24px;
  left: 40px;
  height: 20px;
  border: 2px solid #82a45c;
}

.experience-section .v-col-12:last-child .info-block::after {
  display: none;
}

.section-title {
  border-bottom: 1px solid #333;
  margin-bottom: 1em;
}

.experience-section .experience small {
  display: block;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.v-skill {
  list-style: none;
}

.v-skill span {
  background-color: #82a45c;
  color: #FFF;
  display: block;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9em;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
}

.v-skill--inline span {
  display: inline-block;
}

.v-skill:first-child span {
  margin-left: 0;
}

.media-block {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  height: 400px;
  border-top: 2px solid #82a45c;
  border-bottom: 2px solid #82a45c;
  background-color: #82a45c42;
  margin: 0 -20px;
  padding: 0 20px;
}

.info-screenshot:first-child {
  margin-left: 0;
}

.info-screenshot:last-child {
  margin-right: 0;
}

.info-screenshot {
  flex-shrink: 0;
  margin: 10px;
  height: calc(100% - 20px);
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0,0,0, 0.2);
}

.video-preview {
  height: 100%;
  width: calc(100% + 40px);
  margin: 0 -20px;
}

.vmal0 {
  margin-left: 0px;
}

.v-col-12 {
  width: 100%;
}

.vcol {
  display: flex;
  flex-direction: column;
}

.v-section-padded {
  padding-left: 40px;
  padding-right: 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width : 900px) {
  .vsmrow {
    display: flex;
    flex-direction: row;
  }

  .vsmlcol {
    width: 30%;
    flex-shrink: 0;
  }

  .v-section-padded {
    padding-left: 390px;
    padding-right: 40px;
  }

  .v-col-sm-2 {
    width: 16.6666666667%;
  }

  .v-col-sm-6 {
    width: 50%;
  }

  .v-col-sm-10 {
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .vsmpar40 {
    padding-right: 40px;
  }
}